# Python
backend/venv/
__pycache__/
*.pyc

# Node / frontend
node_modules/
dist/
build/

# Env files
.env
.env.*

# Ignore environment files in any directory
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore OS specific files
.DS_Store
Thumbs.db

#for opensource usage
!.env.example

#logo
*.png

# Ignore data dumps and scripts
chunk_*.txt
frontend_review_chunk.txt
master_dump.txt
*.sh